:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primari-white-color: #ffffff;
  --primari-border-color: #afb1b8;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto";
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-text-color);
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 500ms linear visibility 500ms linear;
}

.mobile-menu.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-mebu-conteiner {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 36px;
  right: 15px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu-list {
  margin-bottom: 302px;
}

.mobile-menu-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact-item {
  margin-bottom: 32px;
}

.contact {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-cosial {
  display: flex;
}

.mobile-menu-cosial-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu-cosial-item:not(:first-child) {
  margin-left: 10px;
}

.mobile-menu-cosial-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* < !--backdrop--> */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primari-white-color);
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--primari-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: var(--primari-border-color);
  fill: var(--accent-text-color);
}

/*  */
.modal-form {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.modal-form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form-label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primari-text-color);
}

.icon-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.modal-form-input:focus + .modal-icon {
  fill: var(--accent-text-color);
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 45px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form-input:focus {
  outline: 0;
  border-color: var(--accent-text-color);
}

.textarea-form {
  height: 120px;
  resize: none;
  padding: 12px 11px;
  margin-bottom: 20px;
}
.textarea-form::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}
.modal-form-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url("../img/chekbox-off.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../img/chekbox-on.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  width: 16px;
  height: 15px;
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
}

.checkbox-modal-wrapper {
  margin-bottom: 30px;
}

.modal-link-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-link-policy:hover, .modal-link-policy:focus {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}

.modal-form-button {
  display: block;
  margin: 0 auto;
}

/*---header---------------*/
.header {
  border-bottom: 1px solid #cac9c9;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-nav {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  transform: scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-nav:hover, .logo-nav:focus {
  transform: scale(1.05);
}

.logoheader {
  color: var(--title-text-color);
}

.navbar {
  display: flex;
}

.nav-link {
  position: relative;
}
.nav-link.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 1199px) {
  .contact-list {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar-list {
    display: none;
  }
  .page-header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 10px;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .navbar-list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .navbar-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .navbar-item:not(:last-child) {
    margin-right: 50px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
    margin-right: 15px;
  }
  .contact-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover, .contact-link:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }
  .navbar-list .current {
    color: var(--accent-text-color);
  }
  .phone-contact {
    margin-right: 10px;
    fill: currentColor;
  }
  .mail-contact {
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .logo-nav {
    font-size: 26px;
  }
  .contact-list {
    flex-direction: row;
    margin-left: auto;
  }
  .contact-item {
    margin-right: 50px;
  }
  .contact-link {
    margin-bottom: 0;
  }
}
/* < !--baner--> */
.baner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 421px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-mobile/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 480px 421px;
  background-color: #2f303a;
  background-position: center center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-mobile/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .baner {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero-tablet/hero-tablet.jpg);
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero-tablet/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .baner {
    max-width: 1600px;
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-size: 1600px 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero-desktop/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero-desktop/hero-desktop@2x.jpg);
  }
}

.baner-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primari-white-color);
}
@media screen and (min-width: 768px) {
  .baner-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .baner-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primari-white-color);
  border-color: transparent;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
  transform: scale(0.9);
}

.baner-btn {
  display: block;
  margin: 0 auto;
}

/* < !--content--> */
.content-list {
  display: flex;
  flex-direction: column;
}

.content-item {
  max-width: 450px;
}
.content-item:not(:last-child) {
  margin-bottom: 30px;
}

.content-svg-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
}

.content-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.content-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}

@media screen and (min-width: 768px) {
  .content-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
    margin-right: -30px;
  }
  .content-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .content-item {
    width: 270px;
  }
}
/* < !--work galery--> */
.work {
  padding-top: 0px;
}

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-wraper {
  position: relative;
}

.work-text-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primari-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* < !--team--> */
.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  background: var(--primari-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-people {
  padding: 30px 0;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primari-white-color);
  fill: var(--primari-border-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:focus, .team-link:hover {
  background-color: var(--accent-text-color);
  fill: var(--primari-white-color);
  cursor: pointer;
}

.social-svg {
  width: 20px;
  height: 20px;
}

/* < !--clients--> */
.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primari-border-color);
  border-radius: 4px;
  fill: var(--primari-border-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:focus, .clients-link:hover {
  border: 1px solid var(--accent-text-color);
  fill: var(--accent-text-color);
}

/*---footer-------------------------------*/
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-wraper {
  display: flex;
  align-items: baseline;
}

.address-wraper {
  flex-grow: 1;
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  transform: scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer:hover, .logo-footer:focus {
  transform: scale(1.05);
}

.logofooter {
  color: var(--primari-white-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  color: #ffffff;
}

.join {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primari-white-color);
}

.join-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primari-white-color);
}

.footer-subscription {
  margin-left: 93px;
}

.footer-subscription-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primari-white-color);
}

.footer-subscription-mail {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  outline: none;
}

.footer-subscription-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  gap: 10px;
}

.footer-subscription-btn-icon {
  fill: var(--primari-white-color);
}

/* < !--filer--> */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item {
  display: flex;
  margin-right: 8px;
}
.filter-list__item:last-child {
  margin-right: 0;
}

.filter-list__item__btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__item__btn:hover, .filter-list__item__btn:focus {
  transform: scale(1.05);
  background-color: var(--accent-text-color);
  color: var(--primari-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* < !--portfolio-work--> */
.portfolio-work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-work__item {
  background: var(--primari-white-color);
}

.portfolio-work__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-work__link:hover, .portfolio-work__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-work__wraper {
  position: relative;
  overflow: hidden;
}

.portfolio-work__name {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-work__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}

.portfolio-work__wraper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primari-white-color);
  transform: translate(0, 100%);
  transition: transform 250ms linear;
}
.portfolio-work__link:hover .portfolio-work__wraper__overlay, .portfolio-work__link:focus .portfolio-work__wraper__overlay {
  transform: translate(0, 0);
}/*# sourceMappingURL=main.css.map */