/* < !--clients--> */

.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primari-border-color);
  border-radius: 4px;
  fill: var(--primari-border-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-text-color);
    fill: var(--accent-text-color);
  }
}

.clients-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 30px) / 2);
  gap: 30px;
    margin-left: -15px;
    margin-right: -15px;
}

@media screen and (max-width: 480px) {
  .clients-item {
    width: 210px;
    height: 92px;

  }

}

@media screen and (min-width: 480px) {
  .clients-item {
    width: 210px;
    height: 92px;

  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
    height: 92px;
  }

  .clients-list {
    flex-basis: calc((100% - 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
  }

  .clients-list {
    display: flex;
    gap: 30px;
  }

  .clients-item {
    width: 170px;
    height: 92px;
  }
}
