:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --primari-white-color: #ffffff;
    --primari-border-color: #afb1b8;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}